.container-myaccount-addresses {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.container-myaccount-addresses-child {
    width: 80%;
}

.container-myaccount-addresses-child > p {
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 14pt;
}