a {
    color:inherit;
    text-decoration: none;
}


.home-section-1 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 120px;

    background-color: #7A247D;
    text-align: center;
}

.home-section-1 h1 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.25px;
    color: #F5C661;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.home-section-1 p {
    margin-top: 20px;
    font-size:20pt;
    font-weight: 300;
    color: #FAFAFA;
}



.home-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E7FAFE;

    padding-top: 40px;
    padding-bottom: 80px;
}

.container-titulo-secao-2 {
    margin-bottom: 40px;
}

.home-section-2 h2 {
    font-size:2em;
    font-weight: 300;
    color: #333333;
}

.container-secao-2-items {
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container-secao-2-items h3 {
    margin-bottom: 20px;
}


.secao-2-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.secao-2-lista li {
    margin-right: 20px;
}

.container-secao-2-item-template {
    display: flex;
    align-items: flex-end;

    height: 200px;
    width: 250px;
    margin-bottom: 20px;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    transition: .2s;
}

.container-secao-2-item-template:hover {
    background-color: rgba(245, 245, 245, 0.24);
    background-blend-mode: soft-light;

    transform: scale(1.05);
    transition: .2s;
}

.container-secao-2-item-template > div {
    width: 100%;
}




.container-secao-2-pratos {
    margin-top: 30px;
}

.container-secao-2-titulo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
}

.container-preco-icon {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container-preco-icon button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;

    background-color: #F5C661;
    border: none;
    transition: .2s;
}

.container-preco-icon button:hover {
    cursor: pointer;
    background-color: #eecd86;
    transition: .2s;
    transform: scale(1.1);
}

.container-preco-icon img {
    height: 30px;
}

.produto {
    height: 380px;
}


.home-section-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 60px;

    background-color: #7A247D;
    text-align: center;
}

.home-section-3 h2 {
    font-size:18pt;
    font-weight: 300;
    color: #FAFAFA;
}

.container-secao-3-items {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container-secao-3-items .iframe-mapa {
    width: 345px;
    height: 203px;
}

.container-secao-3-items .container-mapa-texto {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:white;
}

.container-secao-3-items .container-mapa-texto div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.logo-contato {
    height: 20px;
    margin-right: 10px;
}

.container-secao-3-items .container-carrossel {
    background-color: white;
    width: 600px;
    height: 356px;
}

.container-botao-opcoes {
    margin-top: 40px;
}

.botao-opcoes {
    font-size: 1.2em;
    font-weight: 600;
    background-color: #F5C661;
    border: none;

    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    transition: .4s;
}

.botao-opcoes:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .4s;
}

.botao-opcoes:focus {
    outline: none;
}