#menu-minha-conta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    background-color: #F5C661;
    padding-top: 16px;
    padding-bottom: 16px;
    text-transform: uppercase;
    font-size: 1em;
}

#menu-minha-conta li::after {
    display: block;
    content: "";
    background: #333333;

    height: 3px;
    width: 0;
    margin: 0 auto;
    transition: width .5s ease-in-out;
}

#menu-minha-conta li:hover::after {
    transition: width .6s ease-in-out;
    width: 100%;
}



.woocommerce-MyAccount-content{
    min-height: 35em;
}