.show-password-input {
    display: none;
}

.container-flex-dashboard {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-dashboard-title p {
    margin-bottom: 30px;
    font-weight: 300!important;
    font-size: 14pt;
    line-height: 26px;
}

.woocommerce-EditAccountForm.edit-account p {
    font-weight: 300!important;
    margin-bottom: 30px;
}

.woocommerce-EditAccountForm.edit-account p > label {
    margin-bottom: 10px;
    font-size: 14pt;
}

.woocommerce-EditAccountForm.edit-account input {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #7A247D;
    font-size: 12pt;
}

.container-myaccount-dashboard-form {
    width: 75%;
}

.container-flex-dashboard {
    display: flex;
    justify-content: center;
}

.woocommerce-EditAccountForm.edit-account {
    width: 100%;
}

.container-myaccount-save-account {
    display: flex;
    justify-content: center;
}

.myaccount-save-account {
    color: white!important;
    background-color: #7E3481!important;
    font-weight: 300!important;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .2s;
}

.myaccount-save-account:hover {
    transform: scale(1.05);
    transition: .2s;
}