.page-numbers {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-numbers li {
    margin-right: 15px;
    font-size: 14pt;
}

.page-numbers li:hover {
    color: rgb(43, 43, 43);
    transform: scale(1.1);
    transition: .2s;
}

.page-numbers .page-numbers.current {
    font-weight: 500;
}