.container-categorias-titulo {
    font-weight: 200;
    font-size: 24pt;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products li {
    margin-right: 20px;
}

.container-secao-produtos {
    background-color: #E7FAFE;
}


.onsale {
    z-index: 10;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    font-size: 8pt;
    color: #fff;
    text-align: center;
    background: #96079b;
    transition: .2s;
}

.onsale:hover {
    transform: scale(1.1);
}