.sidebar-container.active {
    display: flex;
    justify-content: flex-end;
    position: fixed;

    height: 100%;
    width: 100%;
    z-index: 300;
}

.sidebar-outside { 
    z-index: 300;
    height: 100%;
    width: 100%;
    background-color: transparent;

    transition: .8s;
}

.sidebar-outside.active {
    background-color: rgba(3, 3, 3, 0.521);
    background-blend-mode:multiply;

    transition: .8s;
}

.sidebar {
    overflow-y: auto;

    z-index: 300;
    position: fixed;
    right:-100%;
    transition: .8s;

    display: flex;
    justify-content: center;
    background-color: #F5C661;

    width:30%;
    height: 100%;
}

.sidebar.active {
    transition: .8s;
    right:0px;
}

.sidebar hr {
    border: 1px solid #6A066D;
    margin-bottom: 30px;
}

.sidebar .sidebar-divs-container {
    width: 80%;
}

.sidebar-div-1 .sidebar-titulo {
    color: #6A066D;
    font-size: 30pt;
    font-weight: 300;

    margin-top: 30px;
}

.sidebar-button-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.botao-comprar {
    margin-top: 30px;

    color:#FAFAFA;
    background-color: #7E3481DC;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;

    font-size: 16pt;
    font-weight: lighter;

    border: none;
    cursor: pointer;

    margin-bottom: 70px;
}

.botao-comprar:focus {
    outline: none;
}

/* Para cada produto */

.carrinho-item-container {
    background-color: #D7F6FD;
    margin-bottom: 20px;

    display: flex;
    height: 100px;
}

.carrinho-container-img {
    height: 100%;
    width: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carrinho-item-container img {
    max-height: 100%;
    width: auto;
}

.carrinho-item-container .carrinho-container-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;

    margin-left: 15px;
    margin-right: 15px;

    font-weight: 300;
}

.carrinho-container-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.carrinho-botoes-quantidade {
    display: flex;
    border: solid 1px black;
}

.carrinho-quantidade {
    border: none;
    border-left: solid 1px black;
    border-right: solid 1px black;

    width: 15px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #E7FAFE;

    transition: .6s;
}

.carrinho-quantidade:hover {
    background-color: #ffffff;
    transition: .6s;
}

.carrinho-botao-quantidade {
    cursor: pointer;
    border: none;
    background-color: #E7FAFE;

    transition: .6s;
}

.carrinho-botao-quantidade:hover {
    background-color: #ffffff;
    transition: .6s;
}

.carrinho-botao-quantidade:focus {
    outline: none;
}

.carrinho-quantidade:focus {
    outline: none;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
}