

.container-single-flex {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}

.container-single-imagem-texto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1000px;
}

.single-product-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:300px; 
    width:400px;
    margin-bottom: 20px;
}



.summary.entry-summary {
    width: 400px;
}

.product_title.entry-title {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 24pt;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(17, 17, 17);
}

.summary.entry-summary .container-descricao-single-product {
    height: 150px;
}

.summary.entry-summary .container-descricao-single-product > p {
    font-weight: 300;
    text-align: justify;
}

ins {
    text-decoration: none;
}



.quantity{
    width: fit-content;
    border: solid 1px #7A247D;
}

.quantity button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: .2s;
}

.quantity button:focus {
    outline: none;
}

.quantity button.minus {
    border-right: solid 1px #7A247D;
}

.quantity button.plus {
    border-left: solid 1px #7A247D;
}

.quantity input {
    border: none;
    background-color: transparent;
    width: 30px;
    text-align: center;
}

/* Botão de adicionar ao carrinho */

.summary.entry-summary > form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single_add_to_cart_button {
    cursor: pointer;
    border: none;
    background-color: #7E3481DC;
    color: white;
    font-size: 18pt;
    letter-spacing: 2px;
    text-transform: uppercase;

    padding: 5px 10px 5px 10px;
    transition: .2s;
}

.single_add_to_cart_button:focus {
    outline: none;
}

.single_add_to_cart_button:hover {
    transform: scale(1.1);
    transition: .2s;
}

.single_add_to_cart_button.disabled {
    background-color: #7e348150;
    cursor: default;
}

.single_add_to_cart_button.disabled:hover {
    background-color: #7e348150;
}

.wrap-top-price {
    font-weight: 300;
    font-size: 22pt;
    letter-spacing: 2px;
}



.simple-flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.container-single-quantity {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-form-single-simple {
    display: flex;
    flex-direction: column;
}

.container-form-single-simple .quantity {
    margin-bottom: 20px;
}

.simple-flex-container-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
}

.single-simple-price{
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 22pt;
}



.single_variation_wrap {
    width: 100%;
}

.single_variation_wrap .price {
    display: none;
}

.variations {
    width: 50%;
}

.variations .value select {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #7A247D;
    font-size: 13pt;
    width: 100%
}

.variations .value select:focus {
    outline: none;
}

.variations_form.cart {
    display: flex;
    flex-direction: row-reverse;
}


.flex-variation-quantity {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.woocommerce-variation-add-to-cart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}


.related_products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.related_products h2 {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 24px;
    display: flex;
    margin-bottom: 20px;
    text-transform: uppercase;
}