/*
Theme Name: Comes&Bebes
Author: Caíque de Oliveira Rodrigues
Description: Projeto Semana 2 - INJunior
*/

@import "styles-css/search.css";
@import "styles-css/sidebar.css";
@import "styles-css/paginacao.css";
@import "styles-css/menu.css";
@import "styles-css/home.css";
@import "styles-css/produtos.css";
@import "styles-css/categorias.css";
@import "styles-css/single.css";
@import "styles-css/mine.css";
@import "styles-css/orders.css";
@import "styles-css/address.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #E7FAFE;

}

header {
    background-color: #7A247D;
    padding:40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h3 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header-left .container-search {
    margin-left: 1.25rem;
    margin-bottom: 0.8rem;
}

.header-left img {
    height: 4rem;
}

.search-container {
    display: flex;
}

.searchtext {
    width: 100%;
}


.header-right {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.header-right .nav-items {
    display: flex;
    align-items: center;
}

.nav-items img {
    height: 2rem;
}

.nav-items .item {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.item button {
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: #F5C661;
    padding: 0.8rem;
    font-weight: 500;

}


footer {
    display: flex;
    justify-content: center;
    background-color: #F5C661;
    margin-top: auto;
    padding: .5rem;
    font-size: 1rem;
    text-align: center;
}

.hidden {
    display: none;
}

.categoria-label {
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86279) 57.81%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
}

